#Arbeitsbereich MCSDM
assembler

# Ignoriert Sonnstiges
watchdog.git-needles
v0.5.1.final-notes
v0.5.2.dev-notes
v0.5.3.dev-notes
v0.5.4.dev-notes
v0.5.5.dev-notes
gg.pub

# Arbeitsbereich
/Pylovara/DEV
/Pylovara/Runtime/
