#Arbeitsbereich MCS Übersetzung
assembler
Arbeitsblatt.dev-notes

# Ignoriert v0.5.1 - v0.6.0
v0.5.1.final-notes
v0.5.2.dev-notes
v0.5.3.dev-notes
v0.5.4.dev-notes
v0.5.5.dev-notes
v0.5.6.dev-notes
#qv0.5.7.dev-notes
#v0.5.8.dev-notes
#v0.5.9.dev-notes
#v0.6.0.dev-notes

# Utilis
gitpush.needle
binutils.installer-core
pushforce.needles

# 
