####################################################################
# | GIT-SECURITY | KERNEL-PROTECTION | STATUS = BAUSTELLE STUFE 10
####################################################################

# Neu Angelegter Sektor
/Pylovara/Kernel
/Pylovara/Kernel/*.*-*
/Pylovara/Kernel/*.*-*
/Pylovara/Kernel/DevNotes

# Unveröffentlicher Sektor
/Pylovara/Lernbücher/*
/Pylovara/Lernbücher/*/*
/Pylovara/Lernbücher/*/*/*
/Pylovara/Lernbücher/*/*/*/*

# Pylovara Hochsensibler Bereich (Handbuch & DevNotes)
# Diese Regel verhindert das Tracken des kompletten DevNotes-Verzeichnisses
/Pylovara/Handbuch/DevNotes/
/Pylovara/Handbuch/Archiv/
/Pylovara/Handbuch/WikiNotes/
/Pylovara(Handbuch/Arbeitsbereich/

# Dieser gesamte sektor ist veraltet und in den
# arbeitsbereich verschoben worden, die sensibelsten daten
# wurden auf die externe ssd verlagert und heraus genommen
# und der rest freigegeben
/Pylovara/AI/
# /Pylovara/MCS-Plus/
# Sicherheits-Zusatz: Verhindert das Tracken von Redflag-Berichten
# Falls der PP-Generator Logs erstellt, werden diese hier abgefangen
*.redflag-notes
*.*-kernel
*.*-mcsplus
# noch aktiv daher not push
/Dokumenten/redflag-*.redflag-notes

# Sicherheits-Zusatz: Verhindert das Tracken von temporären Cache-Dateien
# basierend auf Kernel 88 (*.cache)
*.cache
/Pylovara/**/cache/

# Ausschluss von verschlüsselten þ-Schatten-Referenzen
# Falls lokale Key-Files für den Generator angelegt werden
*.þ-key
*.dna-shadow

#REDPush
# WIRD FÜR DIE HISTORISCHE LÖSCHUNG FÜR GITHUB REGELMÄẞIG
# EINGESETZT UM NACHVOLLZIEHBARKEIT DER GESAMT ARBEIT ZU
# ERSCHWEREN . DIE EIGENTLICHE HISTORISCHE AUFZEICHNUNG
# FINDET IM DARKWEB STATT - NICHT AUF GIT
/Pylovara/shredder.mcs-redpush


# Unerlaubter Sektor !
/Pylovara/PKS-00-64.system-kernel
/Pylovara/PKS-00-80.system-kernel

####################################################################
# HINWEIS: Falls der Ordner bereits im Git-Index ist:
# Befehl: git rm -r --cached Pylovara/Handbuch/DevNotes/
# Danach Spam Aktualisierung protokl /Pylovara/Shredder.redpush
####################################################################

# WIEDER AUFNAHME | EXPERIMENTIELLER ASPEKT

# MASTER-CONTROL-SYSTEM/training.log
# MASTER-CONTROL-SYSTEM/KKIS.KERNEL

####################################################################